<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estacionamento HT</title>
    <script src="../models/parking.js"></script>
    <script src="../models/vehicle.js"></script>
    <script src="../controllers/RegistrationFormController.js"></script>
    <script src="../script.js"></script>
</head>
<body onload="perguntarValor()">
    <fieldset>
        <legend>Formulario de cadastro </legend>
        
        <label for="placa">Placa</label>
        <input type="text" id="placa" name="placa">

        <label for="modelo">Modelo</label>
        <input type="text" id="modelo" name="modelo">

        <label for="marca">Marca</label>
        <input type="text" id="marca" name="marca">

        <label for="cor">Cor</label>
        <input type="text" id="cor" name="cor">
        <br>
        <select name="tipo" id="tipo">
            <option value="">Selecione Um valor</option>
            <option value="carro">Carro</option>
            <option value="moto">Moto</option>
            <option value="caminhao">Caminhao</option>
        </select>

        <button onclick="registrationForm.readFieldsAndAddToList()">Adicionar</button>
    </fieldset>
    

</body>
</html>